#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    aside {
        width: 200px;
        background: #2d5bb1;
    }
    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: burlywood;
    }
    header {
        height: 60px;
        background-color: aqua;
    }
    main {
        flex: 1;
        background-color:darkslateblue;

    }
}